@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323', monospace;
  width: 100%;
  background-color: #eeeeee;
  overflow: hidden;
}

p {
  margin-left: 300px;
  margin-bottom: -10px;
  font-size: 20px;
}

.links{
  margin-left: 300px;
  margin-top: 30px;
}

.links a {
    font-size: 45px;
    padding: 0px 8px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#name {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo {
  margin-left: 300px;
  margin-bottom: 30px;
  display: block;
}

.logo1 {
  margin-left: 300px;
  margin-bottom: 30px;
  display: block;
}

.letter {
  font-size: 200px;
  line-height: 110px;
  font-weight: 800;
  mix-blend-mode: color-burn;
  position: relative;
  transition: top ease 0.1s;
  transition-delay: 2s;
  opacity: 0.9;
}

.a {
  margin-left: 40px;
}

.letter:hover {
  animation: mymove infinite 0.5s;
  color:purple;
}


@keyframes mymove {
    0% {
      top: 0px;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0px;
  }
}

::selection {
  background: #b39ddb;
}
