@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323', monospace;
  width: 100%;
  background-color: #eeeeee;
}

p {
  margin-left: 470px;
  margin-bottom: -10px;
  font-size: 20px;
}

.links a {
  font-size: 90px;
  padding: 0px 8px;
  text-decoration: none;
  margin-left: 650px;
  margin-bottom:500px;
  color: #444;
}

#name {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo {
  margin-left: 400px;
  margin-bottom: 30px;
  display: block;
}

.logo1 {
  margin-left: 350px;
  margin-bottom: 30px;
  display: block;
}

.letter {
  font-size: 200px;
  line-height: 110px;
/*   font-family: 'Lato', sans-serif; */
  font-weight: 800;
  letter-spacing: 5px;
  mix-blend-mode: color-burn;
  position: relative;
  transition: top ease 0.1s;
  transition-delay: 2s;
  opacity: 0.9;
}

.a {
  margin-left: 400px;
}

.letter:hover {
  animation: mymove infinite 0.5s;
  color:purple;
}


@keyframes mymove {
    0% {
      top: 0px;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0px;
  }
}

::selection {
  background: #b39ddb;
}
