@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323', monospace;
  width: 100%;
  background-color: #A9A9A9;
  overflow: hidden;
}

.logo {
  display: block;
  flex-direction: column;
	min-height: 10vh;
	justify-content: center;
  text-align: center;
}

.logo1 {
  display: block;
  flex-direction: column;
	min-height: 20vh;
	justify-content: center;
  text-align: center;
}

.letter {
  font-size: 150px;
  line-height: 110px;
  font-weight: 800;
  mix-blend-mode: color-burn;
  position: relative;
  transition: top ease 0.1s;
  transition-delay: 2s;
  opacity: 0.9;
}

p {
  font-size: 30px;
  text-align: center;
}

.links{
  text-align: center;
}

.links a {
    font-size: 45px;
    text-decoration: none;
    color: #333333;
    text-align: center;
    color:green;
}

#name {
  margin-top: 150px;
  margin-bottom: 30px;
}

.letter:hover {
  animation: mymove infinite 0.5s;
  color:green;
}

.links a:hover {		
  transform: rotate(350deg);
	transition: transform 0.25s ease-in-out;
}		

@keyframes mymove {
    0% {
      top: 0px;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0px;
  }
}
